.ProseMirror {
  .codeBlock {
    padding: 8px;
    border-radius: var(--mantine-radius-md);
    background-color: light-dark(
      rgba(66, 35, 3, 0.03),
      rgba(252, 252, 252, 0.03)
    );
  }

  pre {
    margin: 0;
    padding: 8px 14px 24px;
    font-family: "SFMono-Regular", Menlo, Consolas, "PT Mono",
      "Liberation Mono", Courier, monospace;
    line-height: 1.5;
    tab-size: 2;
    color: inherit;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 85%;
    }

    /* Code styling */
    .hljs-comment,
    .hljs-quote {
      color: light-dark(
        var(--mantine-color-gray-6),
        var(--mantine-color-dark-2)
      );
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: light-dark(var(--mantine-color-red-7), var(--mantine-color-red-5));
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: light-dark(
        var(--mantine-color-blue-7),
        var(--mantine-color-cyan-5)
      );
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: light-dark(var(--mantine-color-red-7), var(--mantine-color-red-5));
    }

    .hljs-title,
    .hljs-section {
      color: light-dark(
        var(--mantine-color-pink-7),
        var(--mantine-color-yellow-5)
      );
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: light-dark(
        var(--mantine-color-violet-7),
        var(--mantine-color-violet-3)
      );
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }

  :not(pre) > code {
    font-family: "SFMono-Regular", Menlo, Consolas, "PT Mono",
      "Liberation Mono", Courier, monospace;
    font-size: 85%;
    line-height: normal;
    padding: 0.2em 0.4em;
    border-radius: 4px;
    margin: 0;
    position: relative;
    bottom: 0.065em;

    @mixin where-light {
      background-color: rgba(33, 27, 23, 0.05);
      color: #cf5148;
    }

    @mixin where-dark {
      background-color: rgba(255, 255, 255, 0.055);
      color: #cf5148;
    }
  }
}
